<%- include("partials/header.ejs") %>
<body>

    <div id="main" role="main" class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="card rounded-4">
                    <div class="card-body nft-image-box">
                        <img src="/images/image-equilibrium.jpg" alt="image of nft Equilibrium" class="card-img rounded-3">
                    </div>
                    <div class="card-body ">
                        <div class="nft-image-box">
                            <h1>Equilibrium #3429</h1>
                            <p class="card-text">Our Equilibrium collection promotes balance and calm.</p>
                            <p class="price"><img src="/images/icon-ethereum.svg" alt="ethereum icon"> 0.041 ETH</p>
                            <p class="days-left"><img src="/images/icon-clock.svg" alt="ethereum icon"> 3 days left</p>
                        </div>
                        <div class="nft-image-box">
                            <br>
                            <hr>
                            <p class="creator-name"><img class="creator" src="/images/image-avatar.png" alt="profile picture of nft creator, jules wyvern"> Creation of <span style="font-weight: 400;">Jules Wyvern</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <%- include("partials/footer.ejs") %>

</body>
</html>